<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'index' %}">BRAND</a></li>
          <li><a href="{% url 'admin:index' %}">ADMIN</a></li>
          <li><a href="{% url 'basic_app:other' %}">OTHER</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block body_block %}
      {%endblock%}
    </div>
  </body>
</html>
